@tailwind base;
@tailwind components;
@tailwind utilities;

.qr {
    width: 31.25em;
    height: 31.25em;
}

.svg {
    width: 8em;
    height: 8em;
}

.title {
    height: 10em;
    margin-bottom: 5em;
}